/*General*/
@import '~/assets/styles/layout.sass'

/* Top */
.banner
  background-color: #0564e9
  background-image: url("https://i.loli.net/2020/05/01/NZnK1FXCjIiGUtx.jpg")
  background-position: center center
  background-repeat: no-repeat
  background-size: cover
  height: 200px
  text-align: center
  margin-bottom: 8px

.banner img
  max-height: 120px
  pointer-events: none

.banner-pc2020
  background-color: #ff8aba
  background-image: url("https://i.loli.net/2020/05/06/vhb8J3DBUAtG4ms.jpg")
  background-size: auto 100px

@mixin lt($width)
  @media screen and (max-width: ($width - 1px))
    @content

.link
  text-decoration: none

.desc
  margin-left: 40px
  .font-rotate
    transform: rotate(180deg)
    text-align: right
  +lt(960)
    margin-left: 16px

.main-wrapper
  padding: 0 40px
  +lt(960)
    padding: 0 16px

.title-wrap
  .title
    font-size: 24px

.main-wrapper
  flex-flow: column nowrap
