/*General*/
*
  font-family: -apple-system,BlinkMacSystemFont,Helvetica Neue,PingFang SC,Microsoft YaHei,Source Han Sans SC,Noto Sans CJK SC,WenQuanYi Micro Hei,sans-serif
  margin: 0
  padding: 0
  background: none
  outline: none

body
  background: #f8f8f8
  font-size: 14px

.smallCaps
  text-transform: uppercase
  font-weight: 700
  font-size: 12px
  color: #888

h1
  margin-bottom: 20px
  font-size: 24px

.graph
  display: inline-block
  width: 55%
  vertical-align: top
  height: 600px

/* Top */
.banner
  background-color: #0564e9
  background-image: url("~assets/images/banner.jpg")
  background-position: center center
  background-repeat: no-repeat
  background-size: cover
  height: 200px
  box-sizing: border-box
  position: relative
  top: -25px
  text-align: center
  padding-top: 60px
  margin-bottom: 30px

.banner img
  max-height: 120px

.mainWrapper
  padding: 0 40px
  margin: auto
  position: relative

/* Misc */
img.arrow
  height: 10px
  margin-left: 5px

.letter
  border-radius: 100%
  box-sizing: border-box
  width: 28px
  height: 28px
  padding-top: 4px
  position: relative
  text-align: center
  display: inline-block
  margin-left: 5px
  font-size: 14px
  font-weight: bold

.letter2,
.letter3
  border-radius: 100%
  box-sizing: border-box
  width: 28px
  height: 28px
  padding-top: 4px
  position: relative
  text-align: center
  display: inline-block
  margin-left: 6px
  font-size: 14px
  font-weight: bold

.change
  padding-left: 3px
  font-weight: bold

.change.up
  color: #00a500

.change.down
  color: #d60a2a

/* Graph */
.axis path
  fill: none
  stroke: black

.axis line
  stroke: black

path.ranking
  fill: none
  cursor: pointer

.note
  /* background: black */
  color: white
  display: inline-block
  position: absolute
  box-sizing: border-box
  text-align: center
  padding: 8px 0
  box-sizing: border-box
  width: 36px
  height: 36px
  border-radius: 100%
  font-size: 14px
  font-weight: bold

.episodeLabel
  fill: #888
  text-anchor: middle

.pie .arc text
  text-anchor: middle
  fill: #fff

.pie .arc path
  stroke: #f8f8f8
  stroke-width: 3px

/* Ranking table */
.chart
  position: absolute
  top: 0
  right: 50px
  width: 500px

.footer
  padding: 20px 50px
  margin-top: 60px
  font-size: 10px
  background: #eee
  color: #888

.footer a
  color: #888


.plot
  width: 100%
  height: 500px

@mixin lt($width)
  @media screen and (max-width: ($width - 1px))
    @content


.mainWrapper
  +lt(960)
    flex-flow: column nowrap

.chart-graph
  flex: 1 1 50%

  +lt(960)
    flex: none
    order: 2

  .profile
    .picWrapper
      width: 180px

    .picWrapper img
      width: 100%

    // .textWrapper
    //   display: inline-block
    //   vertical-align: top
    //   margin-left: 40px
    //   padding-top: 40px

    // .textWrapper .infoName
    //   font-size: 20px
    //   font-weight: 700

    // .textWrapper .infoLetter
    //   top: -3px

    // .textWrapper .infoCompany
    //   margin: 5px 0 8px

    // .textWrapper .infoRank
    //   color: #888

.chart-table
  flex: 1 1 50%

  +lt(960)
    flex: none
    order: 1
